<footer>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col col-1-footer">
          <h2 class="shelter-links">Top Shelters in Colorado</h2>
          <ul class="shelter-list">
            <li class="shelter-item"><a href="http://www.ddfl.org" class="shelter-name">Denver Dumb Friends League</a></li>
            <li class="shelter-item"><a href="http://www.maxfund.org" class="shelter-name">MaxFund</a></li>
            <li class="shelter-item"><a href="http://www.denvergov.org" class="shelter-name">Denver Animal Shelter</a></li>
            <li class="shelter-item"><a href="http://catcaresociety.org" class="shelter-name">Cat Care Society</a></li>
            <li class="shelter-item"><a href="http://bigdogshugepaws.com" class="shelter-name">Big Dogs Huge Paws</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>     
</footer>

