<footer class="footer-nav">
  <img src="../assets/images/footer-cat-2.png" class="footer-image-cat">
   <nav class="lower-nav">
      <h2 class="bottom-nav-header">Navigate</h2>
      <div class="underline"></div>
      <ul class="nav-list">
        <li class="nav-item">Why Rescue?</li>
        <li class="nav-item">Available Pets</li>
        <li class="nav-item">Pet Search</li>
        <li class="nav-item">References</li>
      </ul>
    </nav>
    <nav class="top-co-shelters">
      <h2 class="bottom-nav-header">Colorado Shelters</h2>
      <div class="underline"></div>
      <ul class="shelter-list">
        <li class="shelter-item"><a href="http://www.ddfl.org" class="shelter-name">Denver Dumb Friends League</a></li>
        <li class="shelter-item"><a href="http://www.maxfund.org" class="shelter-name">MaxFund</a></li>
        <li class="shelter-item"><a href="http://www.denvergov.org" class="shelter-name">Denver Animal Shelter</a></li>
        <li class="shelter-item"><a href="http://catcaresociety.org" class="shelter-name">Cat Care Society</a></li>
        <li class="shelter-item"><a href="http://bigdogshugepaws.com" class="shelter-name">Big Dogs Huge Paws</a></li>
      </ul>
    </nav>
    <nav class="top-adoption-websites">
      <h2 class="bottom-nav-header">Adoption Websites</h2>
      <div class="underline"></div>
      <ul class="website-list">
        <li class="website-item"><a href="http://www.petfinder.com" class="website-name">Petfinder</a></li>
        <li class="website-item"><a href="http://www.adoptapet.com" class="website-name">Adopt-a-Pet.com</a></li>
        <li class="website-item"><a href="https://www.aspca.org/adopt-pet/adoptable-dogs-your-local-shelter" class="website-name">ASPCA Adoptions</a></li>
        <li class="website-item"><a href="http://www.allpaws.com" class="website-name">AllPaws</a></li>
        <li class="website-item"><a href="http://www.pawslikeme.com" class="website-name">PawsLikeMe</a></li>
        <li class="website-item"><a href="http://petango.com" class="website-name">Petango!</a></li>
      </ul>
    </nav> 
  <img src="../assets/images/footer-dog-2.png" class="footer-image-dog">
  <p class="copyright">&copy; 2017 This Isn't a Real Copyright</p>  
</footer>

