.wrapper {
    border-top: 7px solid #6e6658;
    background-color: #112d32;
    padding-top: 50px;
    padding-bottom: 50px;
}
.shelter-links {
    color: white;
    font-size: 20px;
    text-align: center;
}
.shelter-list {
    list-style-type: none;
    color: white;
    text-align: left;
}
.shelter-name {
    text-decoration: none;
    color: white;
    text-align: left;
}