/* ----------- General Slide Styles ----------- */
.carousel {
    vertical-align: middle;
    width: 70%;
    margin-left: 15%;
}
.slide-image {
  width: 100%;
  height: 100%;
}

/* ----------- Slide 1 Styles ----------- */
.slide-1-link:hover {
    text-decoration: none;
}
.slide-1-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 30%           !important;
    margin-right: 45%     !important;
    margin-left: 13%      !important;
    transform: translate(0 , 10%)
}
.slide-1-header {
    color: #112d32 !important;
    font-size: 92px;
    font-family: "Lobster", cursive;
}
.slide-1-text {
    color: #112d32 !important;
    font-size: 34px;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 2 styles ----------- */

.slide-2-link:hover {
    text-decoration: none;
}
.slide-2-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 30%           !important;
    margin-right: 37%     !important;
    margin-left: 16%      !important;
}
.slide-2-header {
    color: #fff !important;
    font-size: 84px;
    font-family: "Lobster", cursive;
}
.slide-2-text {
    color: #fff !important;
    font-size: 34px;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 3 styles ----------- */

.slide-3-link:hover {
    text-decoration: none;
}
.slide-3-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 40%           !important;
    margin-right: 55%     !important;
    margin-left: 10%       !important;
}
.slide-3-header {
    color: #112d32 !important;
    font-size: 68px;
    font-family: "Lobster", cursive;
}
.slide-3-text {
    color: #112d32 !important;
    font-size: 30px;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 4 styles ----------- */

.slide-4-link:hover {
    text-decoration: none;
}
.slide-4-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 30%           !important;
    margin-right: 44%     !important;
    margin-left: 12%      !important;
}
.slide-4-header {
    color: #fff !important;
    font-size: 80px;
    font-family: "Lobster", cursive;
}
.slide-4-text {
    color: #fff !important;
    font-size: 30px;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 5 styles ----------- */

.slide-5-link:hover {
    text-decoration: none;
}
.slide-5-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 40%           !important;
    margin-right: 44%     !important;
    margin-left: 10%      !important;
}
.slide-5-header {
    color: #112d32 !important;
    font-size: 80px;
    font-family: "Lobster", cursive;
}
.slide-5-text {
    color: #112d32 !important;
    font-size: 30px;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}