/* ----------- General Slide Styles ----------- */
.carousel {
  vertical-align: middle;
  width: 80%;
  margin-left: 10%;
}
.slide-image {
  width: 100%;
  height: 100%;
}

/* ----------- Slide 1 Styles ----------- */
.slide-1-link:hover {
  text-decoration: none;
}
.slide-1-caption {
  position: absolute    !important;
  text-align: left      !important;
  padding-bottom: 0     !important;
  bottom: 30%           !important;
  margin-right: 50%     !important;
  margin-left: 15%      !important;
}
.slide-1-header {
    color: #112d32 !important;
    font-size: 600%;
    font-family: "Lobster", cursive;
}
.slide-1-text {
    color: #112d32 !important;
    font-size: 3em;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 2 styles ----------- */

.slide-2-link:hover {
    text-decoration: none;
}
.slide-2-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 30%           !important;
    margin-right: 37%     !important;
    margin-left: 15%      !important;
}
.slide-2-header {
    color: #fff !important;
    font-size: 6em;
    font-family: "Lobster", cursive;
}
.slide-2-text {
    color: #fff !important;
    font-size: 3em;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 3 styles ----------- */

.slide-3-link:hover {
    text-decoration: none;
}
.slide-3-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 40%           !important;
    margin-right: 57%     !important;
    margin-left: 9%       !important;
}
.slide-3-header {
    color: #112d32 !important;
    font-size: 4.5em;
    font-family: "Lobster", cursive;
}
.slide-3-text {
    color: #112d32 !important;
    font-size: 2em;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 4 styles ----------- */

.slide-4-link:hover {
    text-decoration: none;
}
.slide-4-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 30%           !important;
    margin-right: 44%     !important;
    margin-left: 12%      !important;
}
.slide-4-header {
    color: #fff !important;
    font-size: 6em;
    font-family: "Lobster", cursive;
}
.slide-4-text {
    color: #fff !important;
    font-size: 2em;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* ----------- slide 5 styles ----------- */

.slide-5-link:hover {
    text-decoration: none;
}
.slide-5-caption {
    position: absolute    !important;
    text-align: left      !important;
    padding-bottom: 0     !important;
    bottom: 40%           !important;
    margin-right: 50%     !important;
    margin-left: 11%      !important;
}
.slide-5-header {
    color: #112d32 !important;
    font-size: 5em;
    font-family: "Lobster", cursive;
}
.slide-5-text {
    color: #112d32 !important;
    font-size: 2.5em;
    font-family: "Lobster", cursive;
    margin-top: 20px;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (min-width:320px) {
  .slide-1-header {
    font-size: 10px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (min-width:481px) {
  .slide-1-header {
    font-size: 12px;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px) {
  .slide-1-header {
    font-size: 14px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px) {
  .slide-1-header {
    font-size: 70px
  }
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
}

/* hi-res + */
@media screen and (min-width:1500px) {
}

/* hi-res ++ */
@media screen and (min-width:1900px) {
}