.content-wrapper {
    background-color: #EEEFF7;
}
.container {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*------------Column Styling-------------*/
.col {
    border: none;
    border-radius: 4px;
    color: white;
}
.col-title {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.col-learn {
    background-color: #112d32
}
.col-adopt {
    background-color:#6e6658
}
.col-search {
    background-color: #112d32
}
p {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;
}

/*------------Button Styling-------------*/
.button-learn {
    font-family: "Lucida Sans";
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;
    margin-top: 35px;
    width: 200px;
}
.button-adopt-dog {
    font-family: "Lucida Sans";
    border-radius: 8px;
    padding: 3px 3px;
    margin-bottom: 10px;
    width: 200px
}
.button-adopt-cat {
    font-family: "Lucida Sans";
    border-radius: 8px;
    padding: 3px 3px;
    margin-bottom: 50px;
    width: 200px
}
.button-pet-search {
    font-family: "Lucida Sans";
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;
    margin-top: 10px;
    width: 200px;
}
